In [1]:
name = "waseem"
print(name,type(name))

waseem <class 'str'>

In [2]:
name = 'waseem'
print(name,type(name))

waseem <class 'str'>

# space charactor \t and \n

# if you are using single quote in start and end or want to use in middle the text than you place (\)
# same as double quote of above.

In [3]:
name = "waseem \"a\"shar"
print(name,type(name))

waseem "a"shar <class 'str'>

In [6]:
# triple quote
data = """
Name:              Waseem
Father's name      Ashar"""

data #if u write in the last line = output raw text

"\nName:              Waseem\nFather's name      Ashar"

In [5]:
data = """
Name:              Waseem
Father's name      Ashar"""

print(data)

Name:              Waseem
Father's name      Ashar

# concatination (combine two ar more variables and value)

In [9]:
name = "waseem"
fname = "ejaz mahmood"
print(name,fname,sep="\n") #shift tab ky satha pata chalta

waseem
ejaz mahmood

In [ ]:
name = "waseem"
fname = "ejaz mahmood"
education = "CA"
designation = "AM"

Result = ""    #.format # f

In [10]:
a = "waseem"
b = 2000
a + str(b)

'waseem2000'

#String methods