In [2]:
#List and Tuple and slicing

In [3]:
# PIAIC183349

In [4]:
names = list(range(1,21))
print(names,type(names))
print(names[7:17])
print(names[7:17:2])
print(names[::-1])
print(names[17:7:-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] <class 'list'>
[8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
[8, 10, 12, 14, 16]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[18, 17, 16, 15, 14, 13, 12, 11, 10, 9]

In [5]:
name = ["ashar","waseem","abu","ammi"]
print(name,type(name))

['ashar', 'waseem', 'abu', 'ammi'] <class 'list'>

In [6]:
data = "Name:\t\t\tAshar\nDesignation:\t\tAccountant\nFather's Name:\t\t\"Ejaz\""
print(data,type(data))

Name:			Ashar
Designation:		Accountant
Father's Name:		"Ejaz" <class 'str'>

In [7]:
data = """
Name:              Waseem
Nick:              Ashar
Father's name      Ejaz
Designati"on"      Accounatant  """
print(data)

Name:              Waseem
Nick:              Ashar
Father's name      Ejaz
Designati"on"      Accounatant

In [8]:
print(data)

Name:              Waseem
Nick:              Ashar
Father's name      Ejaz
Designati"on"      Accounatant

In [9]:
print(names)
print(name)
print(data)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
['ashar', 'waseem', 'abu', 'ammi']

Name:              Waseem
Nick:              Ashar
Father's name      Ejaz
Designati"on"      Accounatant

In [10]:
Name_1 = "Waseem"
Fathers_name = "Ejaz"
Designation = "Accountant"
Education = "CA"

print(Name_1,Fathers_name,Designation,Education, sep="\n")

Waseem
Ejaz
Accountant
CA

In [11]:
Name_1 = "Waseem"
Fathers_name = "Ejaz"
Designation = "Accountant"
Education = "CA"

Result = "Student card \nName:  " +Name_1+ "\nFathers Name:  " +Fathers_name+ "\nDesignation:  " +Designation+ "\nEducation:  " +Education

print(Result)

Student card
Name:  Waseem
Fathers Name:  Ejaz
Designation:  Accountant
Education:  CA

In [12]:
print(data)

Name:              Waseem
Nick:              Ashar
Father's name      Ejaz
Designati"on"      Accounatant

In [13]:
print(Result)

Student card
Name:  Waseem
Fathers Name:  Ejaz
Designation:  Accountant
Education:  CA

In [14]:
Name_1 = "Waseem"
Fathers_name = "Ejaz"
Designation = "Accountant"
Education = "CA"

Card = """
Name:                 {}
Fathers Name:         {}
Designation:          {}
Education:            {}
""".format(Name_1,Fathers_name,Designation,Education)

print(Card)

Name:                 Waseem
Fathers Name:         Ejaz
Designation:          Accountant
Education:            CA

In [15]:
Name_1 = "Waseem"
Fathers_name = "Ejaz"
Designation = "Accountant"
Education = "CA"

Card = f"""
STUDENT CARD
Name:                 {Name_1}
Fathers Name:         {Fathers_name}
Designation:          {Designation}
Education:            {Education}
"""

print(Card)

STUDENT CARD
Name:                 Waseem
Fathers Name:         Ejaz
Designation:          Accountant
Education:            CA

In [16]:
a = "Pakistan"
b = 1000

print(a + "  " +str(b))

Pakistan  1000

In [1]:

Name_1 = input(" Enter Your Name ")
Fathers_name = input(" Enter Your Father's Name ")
Designation = input(" Enter Your Designation ")
Education = input(" Enter Your Education ")

Card = f"""
STUDENT CARD
Name:                 {Name_1}
Fathers Name:         {Fathers_name}
Designation:          {Designation}
Education:            {Education}
"""

print(Card)

 Enter Your Name Waseem
 Enter Your Father's Name Ejaz
 Enter Your Designation Accountant
 Enter Your Education CA

STUDENT CARD
Name:                 Waseem
Fathers Name:         Ejaz
Designation:          Accountant
Education:            CA

In [43]:
name = "waseem"
print(name.capitalize())
print(name.casefold())

Waseem
waseem

In [62]:
print("WaSeem" == "Waseem")
"waSEEm".casefold() == "waseem".casefold()

False

True

In [93]:
name = "waseem"
print(name.count('waseem'))
print(name.count('e'))

1
2

In [97]:
name = "waseem"
name.encode('utf-8')

b'waseem'

In [25]:
Range = [1,2,3,4,5,6,7,8,9,10]
for num in Range:
    if num > 5:
        print(num)

6
7
8
9
10

In [17]:
Range = [1,2,3,4,5,6,7,8,9,10]
completed_task = []
completed_task.append(Range.pop(0))
completed_task.append(Range.pop(0))
completed_task.append(Range.pop(0))
print(completed_task)
print(Range)

[1, 2, 3]
[4, 5, 6, 7, 8, 9, 10]

In [18]:
Range = [1,2,3,4,5,6,7,8,9,10]
completed_task = []
completed_task.append(Range.pop())
completed_task.append(Range.pop())
completed_task.append(Range.pop())
print(completed_task)
print(Range)

[10, 9, 8]
[1, 2, 3, 4, 5, 6, 7]

In [22]:
Range = [1,2,3,4,5,6,7,8,9,10]
completed_task = []
completed_task.insert(0,Range.pop())
completed_task.insert(0,Range.pop())
completed_task.insert(0,Range.pop())
print(completed_task)
print(Range)

[8, 9, 10]
[1, 2, 3, 4, 5, 6, 7]

In [67]:
r = ["me","u","we","us"]
for m in r:
    print(m)

me
u
we
us

In [9]:
r = ["me","u","we","us"]
for m in r:
    if m == "we" or m == "us":
        print(m.upper())
    else:
        print(m.title())

Me
U
WE
US

In [34]:
banned_ids = ["ashar","waseem","numan"]
User = "numan"
if User not in banned_ids:
    print("Verified user")
else:
    print("Banned User")

Banned User

In [44]:
age = 19

if age <= 12:
    price = 20
elif age <= 18:
    price = 40
else:
    price = 60
    
print(f"The ticket price is ${price}.")

The ticket price is $60.

In [49]:
requested_toppings = ['mushrooms', 'extra cheese']
if "mushrooms" in requested_toppings:
    print("adding mushrooms")
if "peprony" in requested_toppings:
    print("adding peproni")
if "extra cheese" in requested_toppings:
    print("adding extra cheese")
    print("\nEnjoy your pizza")

adding mushrooms
adding extra cheese

Enjoy your pizza

In [17]:
list1 = []
list1.append("mlt")
list1.append("skr")
list1.append("hyd")
list1.append("rwp")
list1.append("isb")
list1.append("kpk")
list1.append("qta")
list1.append("abt")
list1.append("kri")
print(list1)

['mlt', 'skr', 'hyd', 'rwp', 'isb', 'kpk', 'qta', 'abt', 'kri']

In [18]:
print("These are the regions of AKC \n" + str(list1))

These are the regions of AKC
['mlt', 'skr', 'hyd', 'rwp', 'isb', 'kpk', 'qta', 'abt', 'kri']

In [19]:
for m in list1:
    print(m.upper(), end=" ")

MLT SKR HYD RWP ISB KPK QTA ABT KRI

In [20]:
for m in list1:
    print(m.upper())

MLT
SKR
HYD
RWP
ISB
KPK
QTA
ABT
KRI

In [22]:
print(f"These are the regions of AKC \n {list1}")

These are the regions of AKC
 ['mlt', 'skr', 'hyd', 'rwp', 'isb', 'kpk', 'qta', 'abt', 'kri']

In [20]:
count = 0

while count <= 10:
    print(count)
    count += 1

0
1
2
3
4
5
6
7
8
9
10

In [8]:
print(list(range(2,11,2)))

[2, 4, 6, 8, 10]

In [10]:
squares = []
for value in range(1,11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
squares = []
for value in range(1,11):
    squares.append(value ** 2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
def mygen():
    print("1st")
    yield 10
    
    print("2nd")
    yield 20
    
    print("3rd")
    yield 30
    

gen = mygen()

next(gen)

1st

10

In [5]:
next(gen)

2nd

20

In [6]:
next(gen)

3rd

30

In [12]:
def indexing(a):
    count = a*100000
    while count <= (a+1)*100000:
        yield print(count)
        count += 100

        
ID = indexing(5)

next(ID)

500000

In [13]:
next(ID)
next(ID)
next(ID)
next(ID)
next(ID)
next(ID)
next(ID)
next(ID)
next(ID)
next(ID)
next(ID)

500100
500200
500300
500400
500500
500600
500700
500800
500900
501000
501100

In [24]:
aliens = []

for a in range(30):
    new = {"color": "green",
          "points": 5,
          "speed": "slow"}
    aliens.append(new)

print(len(aliens))
aliens

30

[{'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'}]

In [35]:
aliens = []

for a in range(30):
    new = {"color": "green",
          "points": 5,
          "speed": "slow"}
    aliens.append(new)
    
for n in aliens[0:30:3]:
    if n["color"] == "green":
        n["color"] = "yellow"
        n["points"] = 10
        n["speed"] = "medium"

for n in aliens[0:30:2]:
    if n["color"] == "green":
        n["color"] = "red"
        n["points"] = 15
        n["speed"] = "fast"
        
aliens

[{'color': 'yellow', 'points': 10, 'speed': 'medium'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'red', 'points': 15, 'speed': 'fast'},
 {'color': 'yellow', 'points': 10, 'speed': 'medium'},
 {'color': 'red', 'points': 15, 'speed': 'fast'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'yellow', 'points': 10, 'speed': 'medium'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'red', 'points': 15, 'speed': 'fast'},
 {'color': 'yellow', 'points': 10, 'speed': 'medium'},
 {'color': 'red', 'points': 15, 'speed': 'fast'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'yellow', 'points': 10, 'speed': 'medium'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'red', 'points': 15, 'speed': 'fast'},
 {'color': 'yellow', 'points': 10, 'speed': 'medium'},
 {'color': 'red', 'points': 15, 'speed': 'fast'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'yellow', 'points': 10, 'speed': 'medium'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'red', 'points': 15, 'speed': 'fast'},
 {'color': 'yellow', 'points': 10, 'speed': 'medium'},
 {'color': 'red', 'points': 15, 'speed': 'fast'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'yellow', 'points': 10, 'speed': 'medium'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'red', 'points': 15, 'speed': 'fast'},
 {'color': 'yellow', 'points': 10, 'speed': 'medium'},
 {'color': 'red', 'points': 15, 'speed': 'fast'},
 {'color': 'green', 'points': 5, 'speed': 'slow'}]

In [30]:
first_n = ["afnan", "zee", "atta", "hamdan"]
last_n = ["khan", "shan", "ullah", "cj"]

full_n = list(map(lambda x,y: x.title() +" "+ y.title(), first_n, last_n))
full_n

['Afnan Khan', 'Zee Shan', 'Atta Ullah', 'Hamdan Cj']

In [34]:
first_n = ["afnan", "zee", "atta", "hamdan"]
last_n = ["khan", "shan", "ullah", "cj"]

full_name = []

full_name.append(first_n[0]+" "+last_n[0])
full_name.append(first_n[1]+" "+last_n[1])
full_name

['afnan khan', 'zee shan']

In [49]:
first_n = ["afnan", "zee", "atta", "hamdan"]
last_n = ["khan", "shan", "ullah", "cj"]

full_name = []

for i in range(len(first_n)):
    fn = first_n.pop()
    ln = last_n.pop()
    full_name.append(fn.title()+" "+ln.title())
    

full_name

['Hamdan Cj', 'Atta Ullah', 'Zee Shan', 'Afnan Khan']

In [46]:
first_n = ["afnan", "zee", "atta", "hamdan"]
last_n = ["khan", "shan", "ullah", "cj"]

full_name = []

for i in range(len(first_n)):
    fn = first_n[i]
    ln = last_n[i]
    full_name.append(fn.title()+" "+ln.title())
    

full_name

['Afnan Khan', 'Zee Shan', 'Atta Ullah', 'Hamdan Cj']

In [47]:
first_n = ["afnan", "zee", "atta", "hamdan"]
last_n = ["khan", "shan", "ullah", "cj"]

full_name = []

for i in range(len(first_n)):
    full_name.append(first_n[i].title()+" "+last_n[i].title())
    

full_name

['Afnan Khan', 'Zee Shan', 'Atta Ullah', 'Hamdan Cj']