In [ ]:
print("waseem ashar")

waseem ashar

In [ ]:
count = 0
while count<=10:
  print(count)
  count += 1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
Name_list = ["waseem","ashar","numan","junaid","faheem","mubeen","maria"]
print(Name_list[0].title())
for name in Name_list:
  if name == "faheem":
    continue
  print(name.title())

Waseem
Waseem
Ashar
Numan
Junaid
Mubeen
Maria

In [ ]:
expenses = []
count = 0

while True:
  count = int(input("Enter your expense or 0 to result: "))
  if count == 0:
    break

  expenses.append(count)

print("\nYour total expenses are amounting Rs.", sum(expenses))
print("The individual expenses are as follows:\n" ,[i for i in expenses])

Enter your expense or 0 to result: 69
Enter your expense or 0 to result: 45
Enter your expense or 0 to result: 89
Enter your expense or 0 to result: 62
Enter your expense or 0 to result: 0

Your total expenses are amounting Rs. 265
The individual expenses are as follows:
 [69, 45, 89, 62]

In [ ]:
expenses = []
count = 1
while count != 0:
  count = int(input("Enter your expense or 0 to quit: "))
  if count == 0:
    print("Quited")
  else:
    print(count)
    expenses.append(count)
print(expenses)

Enter your expense or 0 to quit: 69
69
Enter your expense or 0 to quit: 79
79
Enter your expense or 0 to quit: 89
89
Enter your expense or 0 to quit: 59
59
Enter your expense or 0 to quit: 49
49
Enter your expense or 0 to quit: 0
Quited
[69, 79, 89, 59, 49]

In [ ]:
expenses = []
count = 1
while count != 0:
  count = int(input("Enter your expense or 0 to quit: "))
  if count == 0:
    continue
  print(count)
  expenses.append(count)
print(expenses)

Enter your expense or 0 to quit: 69
69
Enter your expense or 0 to quit: 89
89
Enter your expense or 0 to quit: 79
79
Enter your expense or 0 to quit: 59
59
Enter your expense or 0 to quit: 0
[69, 89, 79, 59]

In [ ]:
a = [chr(i) for i in range(65,90)]
print(a)
users = []
count = 65
while count <= 90:
  print(count, chr(count))
  users.append(chr(count))
  count += 1
print(users)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y']
65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [ ]:
users = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
searched_user = input("Enter User")

count = 0
while count <= len(users):
  if searched_user == users[count]:
    print(users[count], count)
    break
  count += 1

Enter UserD
D 3

In [ ]:
users = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
searched_user = input("Enter User")

count = 0
while count <= len(users):
  print(users[count], count)
  if searched_user == users[count]:
    break
  count += 1

Enter UserF
A 0
B 1
C 2
D 3
E 4
F 5

In [ ]:
users = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
searched_user = input("Enter User")

for user in users:
  print(user)
  if searched_user == user:
    break

Enter UserG
A
B
C
D
E
F
G

In [ ]:
students = {"index":[1,2,3],"names":["ashar","waseem","cheema"],"class":["9th","10th","11th"]}

for k,v in students.items():
  print(k," = ",v)
  for i in v:
    print(i)

index  =  [1, 2, 3]
1
2
3
names  =  ['ashar', 'waseem', 'cheema']
ashar
waseem
cheema
class  =  ['9th', '10th', '11th']
9th
10th
11th

In [ ]:
students = {"index":[1,2,3],"names":["ashar","waseem","cheema"],"class":["9th","10th","11th"]}

for k in students.keys():
  print(k, end="\n")

for v in students.values():
    for i in v:
      print(i, end="\t")
    print()

index
names
class
1	2	3
ashar	waseem	cheema
9th	10th	11th

In [ ]:
students = {"index":[1,2,3],"names":["ashar","waseem","cheema"],"class":["9th","10th","11th"]}

for k in students.keys():
  for v in students.values():
    print(k, end="\t")  
    for i in v:
      print(i, end="\t")
    print()

index	1	2	3
index	ashar	waseem	cheema
index	9th	10th	11th
names	1	2	3
names	ashar	waseem	cheema
names	9th	10th	11th
class	1	2	3
class	ashar	waseem	cheema
class	9th	10th	11th

In [ ]:
students = {}

students["index"] = [1,2,3]
students["name"] = ["waseem","numan","ashar"]
students["class"] = ["9th","12th","10th"]

print(students)
print(students["name"])

{'index': [1, 2, 3], 'name': ['waseem', 'numan', 'ashar'], 'class': ['9th', '12th', '10th']}
['waseem', 'numan', 'ashar']

In [ ]:
for i in range(11):
  b = i-1
  if b < 0:
    b = 0
  print(f"current value: {i} previous value: {b} and the Sum is {i+b}")

current value: 0 previous value: 0 and the Sum is 0
current value: 1 previous value: 0 and the Sum is 1
current value: 2 previous value: 1 and the Sum is 3
current value: 3 previous value: 2 and the Sum is 5
current value: 4 previous value: 3 and the Sum is 7
current value: 5 previous value: 4 and the Sum is 9
current value: 6 previous value: 5 and the Sum is 11
current value: 7 previous value: 6 and the Sum is 13
current value: 8 previous value: 7 and the Sum is 15
current value: 9 previous value: 8 and the Sum is 17
current value: 10 previous value: 9 and the Sum is 19

In [ ]:
def my_add(a,*b):
  return a+sum(b)

my_add(4,5,6,7,9,5,1)

37

In [1]:
def student_card(a,b,c,d):
  """a=name, b=Fname, c=class, d=batch"""
  data = []
  print("STUDENT CARD")
  print(f"Name: {a}")
  print(f"Father Name: {b}")
  print(f"Class: {c}")
  print(f"Batch: {d}")
  [data.append(i) for i in (a,b,c,d)]
  print(data)

a = input("Enter Your Name: ")
b = input("Enter Your Father Name: ")
c = input("Enter Your Class: ")
d = input("Enter Your Batch: ")

student_card(a,b,c,d)

Enter Your Name: waseem
Enter Your Father Name: Ejaz
Enter Your Class: AI
Enter Your Batch: 37
STUDENT CARD
Name: waseem
Father Name: Ejaz
Class: AI
Batch: 37
['waseem', 'Ejaz', 'AI', '37']

In [5]:
def student_card():
  a = input("Enter Your Name: ")
  b = input("Enter Your Father Name: ")
  c = input("Enter Your Class: ")
  d = input("Enter Your Batch: ")
  data = []
  print("STUDENT CARD")
  print(f"Name: {a}")
  print(f"Father Name: {b}")
  print(f"Class: {c}")
  print(f"Batch: {d}")
  [data.append(i) for i in (a,b,c,d)]
  print(data)

student_card()

Enter Your Name: waseem
Enter Your Father Name: ejaz
Enter Your Class: AI
Enter Your Batch: 37
STUDENT CARD
Name: waseem
Father Name: ejaz
Class: AI
Batch: 37
['waseem', 'ejaz', 'AI', '37']

In [ ]:
student_card()

Enter Your Name: Waseem
Enter Your Father Name: Ejaz
Enter Your Class: AI
Enter Your Batch: 36
STUDENT CARD
Name: Waseem
Father Name: Ejaz
Class: AI
Batch: 36
['Waseem', 'Ejaz', 'AI', '36']

In [2]:
un_printed = ["table","chair","cup"]
completed_design = []

while un_printed:
  current_design = un_printed.pop()
  print(f"Printing {current_design}")
  completed_design.append(current_design)
print("\nFollowing models are printed")
[i for i in completed_design]

Printing cup
Printing chair
Printing table

Following models are printed

['cup', 'chair', 'table']

In [3]:
lang = "Python"
print(lang[0:4])

Pyth