# Practice

In [6]:
print("me".title())

Me

In [7]:
def my_sum(a,b,*c):
    return a+b+sum(c)

In [8]:
my_sum(3,5,6,5,6,6)

31

In [9]:
def display_winner(winner = "ashar", score = "1-0", **others):
    print(f"""
The winner is {winner}.
And his score is {score}.
    """)
    for i,v in others.items():
        print(i +" : "+ v)

In [10]:
print(display_winner(winner = "waseem", score = "2-0", overtime = "yes", injury = "none", match = "no"))

The winner is waseem.
And his score is 2-0.

overtime : yes
injury : none
match : no
None

In [11]:
a = 2
def num():
    print(a)

num()

2

In [12]:
def whatever():
    y = 2
    print(y)
y = 1
whatever()
print(y)

2
1

In [13]:
count = 0
while count<10:
    print(count)
    count += 1

0
1
2
3
4
5
6
7
8
9

In [14]:
count = 65
while count<90:
    print(count, chr(count))
    count += 1

65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y

In [16]:
[chr(i) for i in range(65,90)]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y']

In [17]:
cities = ["MLT","SKR","HYD"]
check = input("Enter your city")

for i in cities:
    if check.upper() == i:
        print("Found")
    else:
        print("Not Found")

Enter your citymlt
Found
Not Found
Not Found

In [18]:
cities = ["MLT","SKR","HYD","MLT"]
check = input("Enter your city")

for i in cities:
    if check.upper() == i:
        print("Found")
        print(i)

Enter your citymlt
Found
MLT
Found
MLT

In [20]:
cities = ["MLT","SKR","HYD","MLT"]
check = input("Enter your city")

for i in cities:
    if check.upper() == i:
        print("Found")
        break

Enter your citymlt
Found

In [21]:
cities = ["MLT","SKR","HYD","MLT"]


check = ""
while check != "q":
    check = input("Enter your city")
    if check != "q":
        for i in cities:
            if check.upper() == i:
                print("Found")
                break

Enter your citymlt
Found
Enter your citymlt
Found
Enter your cityskr
Found
Enter your cityfg
Enter your cityq

In [22]:
list1 = ["faheem", "waseem", "mubeen"]
list2 = []

while list1:
    current = list1.pop(0)
    
    print(f"{current.title()} is being verified \nDONE")
    list2.append(current)

print("\nDONE List is as follows")
for i in list2:
    print(i.title())

Faheem is being verified
DONE
Waseem is being verified
DONE
Mubeen is being verified
DONE

DONE List is as follows
Faheem
Waseem
Mubeen

In [4]:
res = {}

loop = True

while loop:
    name = input("Whats Your name")
    ntn = input("Whats Your NTN")
    res[name] = ntn
    qt = input("Want to Quit? Y/N")
    if qt == "Y" or qt == "y":
        loop = False
print(res)

Whats Your namewaseem
Whats Your NTN63101
Want to Quit? Y/Nfaheem
Whats Your namefaheem
Whats Your NTN254101
Want to Quit? Y/Ny
{'waseem': '63101', 'faheem': '254101'}

In [5]:
res = {}

loop = True

while loop:
    name = input("Whats Your name")
    ntn = input("Whats Your NTN")
    res[name] = ntn
    qt = input("Want to Quit? Y/N")
    if qt == "Y" or qt == "y":
        break
print(res)

Whats Your namewaseem
Whats Your NTN63101
Want to Quit? Y/Nn
Whats Your nameFaheem
Whats Your NTN45101
Want to Quit? Y/Ny
{'waseem': '63101', 'Faheem': '45101'}

In [6]:
def formated_name(first_name, last_name, midle_name = ""):
    if midle_name:
        print(first_name.title() + " " + midle_name.title() + " " + last_name.title())
    else:
        print(first_name.title() + " " + last_name.title())

In [8]:
formated_name("muhammad","ashar","waseem")

Muhammad Waseem Ashar

In [9]:
formated_name("muhammad","ashar")

Muhammad Ashar

In [2]:
def toppings(*arg):
    return arg
    
toppings("me","we","us")

('me', 'we', 'us')

In [7]:
def fun(a,b,c):
    print(f"""
These are mnain {a}
These are other {b}
these are sup   {c}""")
    
fun(a="mr",b="cr",c="nm")

These are mnain mr
These are other cr
these are sup   nm

In [1]:
[chr(i) for i in range(68,90)]

['D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y']